body {
    background-color: #ECEBF3;
    color: #0B0242;
    font-family: Sans-Serif;
}

fieldset{
    border: 2px dashed #dddddd;
    margin: 0px auto;
    
}

a:link, a:visited {
    color: #549FAC;
}

a:hover, a:active {
    color: #8A76B9;
}

div.rootContainer {
	width: 100%;
	height: 100%;
	position: absolute;
    top: 0px;
    left: 0px;
}

div.header {
    background: #BAAEFF;
    color: #1D0C88;
    font-weight: bold;
    display:table;
    width: 100%;
    margin: 0px auto;
    text-align: center;
}

div.register {
    text-align: center
}

div.login {
    width: 20%;
    margin: 0px auto;
    color: #0B4F00;
}

span.header {
    display:table-cell;
    vertical-align: middle;
}


ul#menu{
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: #BEDE8D;
}
ul#menu li{
    float: left;
    padding: 20px;
}

ul#menu{
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: #CCC;
    overflow: hidden;
}

ul#menu li:hover, ul#menu li.selected{
    background-color: #999;
    color: white;
    cursor: pointer;
}

input[type="text"].loginUser, input[type="password"].loginPassword{
	text-align: center;
	color: #0B4F00;
}
